.todo-list {
    max-width: 40rem;
    height: 100vh;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;

    margin: auto;

    position: relative;
}
.todo-list h1 {
    color: var(--color-texto);
    font-size: 2.5rem;
    text-align: center;
    padding: 2rem 1rem;
}


#new_todo {
    width: 6rem;
    height: 6rem;
    border: 0;
    border-radius: 100%;
    background-color: rgb(4, 134, 209);
    padding: 1rem;

    position: absolute;
    right: 1rem;
    bottom: 1rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
#new_todo > span{
    display: block;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
}